<a href="https://colab.research.google.com/github/ClaudiaGonzalezScanu/actividad_Variables/blob/main/GuiaEjercicios2_15_11_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cad="Hola Mundo!"
len(cad)
i=-1
while i>=-len(cad):
  print(cad[i])
  i -= 1

!
o
d
n
u
M

a
l
o
H

In [ ]:
cad=input("Ingrese cadena")
i=len(cad)-1
while i>=0:
  print(cad[i])
  i -= 1

Ingrese cadenaPython
n
o
h
t
y
P

In [ ]:
numeros=[3,1,4,2,7,10,1,6,5,7]
for n in numeros:
  print(n)

3
1
4
2
7
10
1
6
5
7

In [ ]:
numero=int(input("Ingrese numero: "))
i=1
words=[]
while i<=numero:
  palabra=input("Ingrese palabra: ")
  words.append(palabra)
  i += 1
print(words)

Ingrese numero: 3
Ingrese palabra: hola
Ingrese palabra: que
Ingrese palabra: tal
['hola', 'que', 'tal']

In [ ]:
alumnos={}
while True:
  nombre=input("Ingrese Nombre: ")
  if nombre != "*":
    edad=int(input("Ingrese edad: "))
    alumnos[nombre]=edad
  elif nombre == "*":
    break
alumnos

Ingrese Nombre: Juan Perez
Ingrese edad: 24
Ingrese Nombre: Jose Gomez
Ingrese edad: 56
Ingrese Nombre: Marta Sanchez
Ingrese edad: 45
Ingrese Nombre: *

{'Jose Gomez': 56, 'Juan Perez': 24, 'Marta Sanchez': 45}

In [ ]:
for key,value in alumnos.items():
  print(f"{key:{20}}{value}")

Juan Perez          24
Jose Gomez          56
Marta Sanchez       45

In [ ]:
alumnos=[]
while True:
  lista=[]
  nombre=input("Ingrese Nombre: ")
  if nombre != "*":
    lista.append(nombre)
    edad=int(input("Ingrese edad: "))
    lista.append(edad)
    alumnos.append(lista)
  elif nombre == "*":
    break

Ingrese Nombre: Juan
Ingrese edad: 25
Ingrese Nombre: Marcela
Ingrese edad: 41
Ingrese Nombre: Pablo
Ingrese edad: 30
Ingrese Nombre: Paola
Ingrese edad: 45
Ingrese Nombre: *

In [ ]:
lista1

[['Juan', 25], ['Marcela', 41], ['Pablo', 30], ['Paola', 45]]

In [ ]:
lista1[1]

['Marcela', 41]

In [ ]:
lista1[1][1]

41

In [ ]:
alumnos={}
while True:
  nombre=input("Ingrese Nombre: ")
  if nombre != "*":
    edad=int(input("Ingrese edad: "))
    alumnos[nombre]=edad
  elif nombre == "*":
    break

for key,value in alumnos.items():
  if value>=40:
    print(f"{key:{20}}{value}")

Ingrese Nombre: JUan Gomez
Ingrese edad: 23
Ingrese Nombre: Maria Gonzalez
Ingrese edad: 45
Ingrese Nombre: Pablo Rojas
Ingrese edad: 56
Ingrese Nombre: Paola Toledo
Ingrese edad: 21
Ingrese Nombre: *
Maria Gonzalez      45
Pablo Rojas         56

In [ ]:
edad_mayor=0
for key,value in alumnos.items():
  if value>edad_mayor:
    nom_mayor=key
    edad_mayor=value
print(f"{nom_mayor:{20}}{edad_mayor}")

Pablo Rojas         56